<o-form-layout-manager attr="PetService" mode="tab" title="PETSERVICE">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="PetServiceTable" 
            service="PetService" 
            entity="PetService" 
            title="PETSERVICE"
            keys="id"
            columns="id;pet_id;service_id;appointment_date" 
            header-actions="R;D"
            visible-columns="id;pet_id;service_id;appointment_date"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="pet_id" title="pet_id">
    <o-table-cell-renderer-service attr="pet_id" 
        service="Pet" entity="PetType" columns="id;name"
        parent-keys="id:pet_id"
        value-column="name" keys="pet_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column attr="service_id" title="service_id">
    <o-table-cell-renderer-service attr="service_id" 
        service="Service" entity="ServiceType" columns="id;name"
        parent-keys="id:service_id"
        value-column="name" keys="service_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-date-input #appointment_date attr="appointment_date" type="timestamp" label="appointment_date" editable="no" required="no" format="LL" fxFlex="20%" class="form-field"></o-date-input>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>